@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --orange: #ee842e; /* FF7500 */
    --grey: #e1e1e1;
    --darkgrey: #1e1e1e;
    --midgrey: #595959;
    --padding_desktop: 5rem;
    --padding_tablet: 2rem;
    --padding_mobile: 2rem;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    line-height: 150%;
    box-sizing: border-box
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--grey);
    height: 6rem;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--darkgrey);
    text-transform: uppercase;
    border-bottom: 0.15rem solid var(--orange);
    padding-bottom: 0.5rem;
    margin: 2rem var(--padding_desktop) 2rem;
}

h2 {
    font-size: 1.3rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

h4 {
    font-weight: 500;
    margin-top: 1rem;
}

h5 {
    font-weight: 500;
}

p {
    margin: 0 0 0.5rem 0;
}

hr {
    border: 0;
    height: 0.1rem;
    background-color: var(--grey);
    margin: 1rem 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--darkgrey);
}

a:hover {
    color: var(--orange);
}

ul, ol {
    margin-left: 1rem;
}

.wrapper {
    padding: 0 var(--padding_desktop) 1rem;
}

.wrapper h1 {
    margin: 2rem 0 1rem 0;
}

.wrapper section {
    margin: 1rem 0;
}

.wrapper section h1 {
    margin-top: 2rem;
}

.bold {
    font-weight: 500;
}

.spaced {
    margin: 1.2rem 0;
}

.small {
    font-size: 0.8rem;
}

.orange {
    color: var(--orange);
}

a.orange:hover {
    color: var(--darkgrey)
}

.button {
    text-decoration: none;
    color: var(--darkgrey);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: var(--orange);
    border-radius: 0.5rem;
}

/* #region: -------- NAVIGATION -------- */
header nav {
    overflow: hidden;
    display: flex;
    height: 100%;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--darkgrey);
    margin: 0 1rem;
    font-size: 1.3rem;
}
  
nav a:hover,
nav a.active {
    color: var(--orange)
}
  
nav .icon {
    display: none;
}

.icon {
    display: none;
    text-decoration: none;
}

.logo {
    height: 6rem;
}

#menuIcon {
    font-size: 2.5rem;
    color: var(--darkgrey);
}
/* #endregion: -------- NAVIGATION -------- */

/* #region: -------- HIGHLIGHT SECTION -------- */
.highlight h2 {
    width: 100%;
    text-align: center;
}

.highlight {
    padding: 1rem 6rem;
    display: flex;
    flex-direction: column;
}

.highlight p {
    text-align: center;
}
/* #endregion: -------- HIGHLIGHT SECTION -------- */

/* #region: -------- NEWS -------- */
.news {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 12rem;
    background-color: var(--grey);
    margin: 1rem 0;
}

.newsItem {
    display: flex;
    gap: 1rem;
}

.rightImage {
    flex-direction: row-reverse;
}

.newsItem img {
    width: 16rem;
    height: 16rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0.5rem;
    background-position: center;
}

.newsItem .imageAlt {
    width: 16rem;
    height: 16rem;
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem;
    background-color: hsla(0, 0%, 100%, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    color: var(--grey);
    line-height: normal;
}

.newsItemText {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
/* #endregion: -------- NEWS -------- */

/* #region: -------- SLIDER -------- */
.slider {
    margin: 1rem 0;
}

.slideshow-container {
    position: relative;
    margin: auto;
    max-width: 50rem;
    box-sizing: border-box;
    overflow: hidden;
}

.slideshow-container img {
    vertical-align: middle;
    height: 100%;
    background-position: center;
}

.slides {
    display: none;
    height: 30rem;
    text-align: center;
    background-color: var(--grey);
    justify-content: center;
}

.slideshow-container .prev, .slideshow-container .next {
    position: absolute;
    top: 50%;
    padding: 1rem;
    margin-top: -1.5rem;
    width: auto;

    font-weight: bold;
    font-size: 1rem;
    border-radius: 0 0.2rem 0.2rem 0;
    color: var(--darkgrey);
    transition: 0.2s ease;
    cursor: pointer;
}

.slideshow-container .next {
    right: 0;
    border-radius: 0.2rem 0 0 0.2rem;
}

.slideshow-container .prev:hover, .slideshow-container .next:hover {
    color: var(--grey);
    background-color: rgba(0,0,0,0.8);
}

.slideshow-container .text {
    position: absolute;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
    align-self: end;
    color: var(--grey);
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0) 100%);
}

.slideshow-container .slideNumber {
    position: absolute;
    top: 0;
    padding: 0.5rem 1rem;
    color: var(--grey);
}

.slider .dot {
    margin: 0.5rem;
    cursor: pointer;
    height: 1rem;
    aspect-ratio: 1 / 1;
    background-color: var(--midgrey);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.mobile_button {
    display: none;
}

.slider .active, .slider .dot:hover {
  background-color: var(--orange);
}

.slideshow-container .fade {
  animation-name: fade;
  animation-duration: 0.2s;
}

.slider_dots {
    display: grid;
    grid-template-areas: "prev dots next";
}

.slider_dots .dots-container {
    grid-area: dots;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.slider_dots .prev {
    grid-area: prev;
    justify-self: start;
}
.slider_dots .next {
    grid-area: next;
    justify-self: end;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* #endregion: -------- SLIDER -------- */

/* #region: -------- SPONSORS -------- */
.sponsors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    margin: 2rem 0;
}

.sponsor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsors img {
    max-height: 5rem;
    object-fit: contain;
}
/* #endregion: -------- SPONSORS -------- */

/* #region: -------- FOOTER -------- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    flex-direction: column;
    gap: 1rem;
    border-top: 0.1rem solid var(--grey);
}

.footer-content {
    display: grid;
    grid-template-columns: 1.5fr repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
}

.footer-content .column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-logo {
    width: 80%;
}

footer a {
    text-decoration: none;
    color: var(--darkgrey);
}

.contactItem {
    display: flex;
    gap: 0.5rem;
}

.contactItem span {
    padding-top: 0.2rem;
}

.social-media {
    display: flex;
    gap: 1rem;
}

.social-media img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
/* #endregion: -------- FOOTER -------- */

/* #region: -------- PROGRAM POINTS -------- */
.program_point {
    text-decoration: none;
    color: unset;
}

.program_point:hover {
    text-decoration: none;
    color: unset;
}

.program_point_grid {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-areas: 
        "start title"
        "end description";
    gap: 0.2rem 1rem;
    align-items: center;
    padding: 0.5rem;
}

.program_point_grid * {
    margin: 0;
    padding: 0;
}

.program_point_grid:hover {
    background-color: var(--grey);
    border-radius: 0.5rem;
}

.program_point_grid .start {
    grid-area: start;
    font-weight: 700;
    font-size: 2rem;
    color: var(--orange);
}

.program_point_grid .end {
    grid-area: end;
    font-size: 1.2rem;
    color: var(--darkgrey);
    width: 100%;
    text-align: right;
}

.program_point_grid .title {
    grid-area: title;
    font-size: 1.5rem;
    color: var(--darkgrey);
}
/* #endregion: -------- PROGRAM POINTS -------- */

/* #region: -------- LIVESTREAM -------- */
.livestream_placeholder {
    background-color: var(--grey);
    width: 60%;
    height: 30rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.livestream_placeholder p {
    text-align: center;
    font-size: 2rem;
    color: var(--darkgrey);
    padding: 1rem;
}

.livestream_placeholder p span {
    font-weight: 700;
    color: var(--orange);
}
/* #endregion: -------- LIVESTREAM -------- */

/* #region: -------- PROJECTS -------- */
.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;
    background-color: white;
    align-items: center;
    border-radius: 0.8rem;
}

.project img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 0.5rem;
}

.project h3 {
    color: var(--orange);
}

.project .link {
    flex-grow: 1;
    align-content: end;
}

.project .link .small {
    margin: 0;
}
/* #endregion: -------- PROJECTS -------- */

/* #region: -------- JOBS -------- */
.jobsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}
.job {
    display: grid;
    grid-template-areas:    "title title title"
                            "duration pay location"
                            "description description description"
                            "skills skills skills"
                            "link link link";
    grid-template-rows: min-content min-content min-content min-content auto;
    grid-template-columns: 25% 1fr 1fr;
    gap: 0.2rem;
    padding: 1rem 1rem;
    background-color: var(--grey);
    border-radius: 0.8rem;
    justify-content: center;
}

.job h3 {
    grid-area: title;
    color: var(--orange);
    margin-bottom: 0.5rem;
}

.job .details {
    display: flex;
    gap: 0.5rem;
}

.job .details span {
    padding-top: 0.1rem;
}

.job .duration {
    grid-area: duration;
    font-size: 1rem;
    color: var(--darkgrey);
}

.job .pay {
    grid-area: pay;
    font-size: 1rem;
    color: var(--darkgrey);
}

.job .location {
    grid-area: location;
    font-size: 1rem;
    color: var(--darkgrey);
}

.job .description {
    grid-area: description;
    font-size: 1.2rem;
    color: var(--darkgrey);
}

.job .skills {
    grid-area: skills;
    font-size: 1.2rem;
    color: var(--darkgrey);
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.job .skills h4 {
    margin-top: 0;
}

.job .link {
    grid-area: link;
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
}

/* FIX: On hover issue */
.job .link a {
    text-decoration: none;
    color: var(--darkgrey);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: var(--orange);
    border-radius: 0.5rem;
}
/* #endregion: -------- JOBS -------- */

/* #region: -------- TEAM -------- */
.team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 4rem;
    margin: 2rem 0;
}

.person {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border-radius: 0.8rem;
}

.person img {
    width: 80%;
    border-radius: 50%;
    border: 0.1rem solid var(--grey);
    background-color: var(--grey);
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.role {
    font-size: 1.2rem;
    color: var(--midgrey);
}

/* #endregion: -------- TEAM -------- */

/* #region: -------- 404 -------- */
.container_404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
}

.container_404 h1 {
    border: none;
    font-size: 10rem;
    padding: unset;
    margin: unset;
    text-transform: unset;
    line-height: normal;
    color: var(--orange);
}

.subtitle_404 {
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--midgrey);
    margin-bottom: 2rem;
}

.buttons_404 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1rem 0;
}

.buttons_404 .report {
    background-color: var(--grey);
}
/* #endregion: -------- 404 -------- */

.tos {
    display: grid;
    grid-template-columns: 2rem auto;
    gap: 0.5rem;
}

.tos .tosNumber {
    font-weight: 500;
    letter-spacing: 0.15rem;
}

/* MEDIA QUERY: Tablets and medium sized screens */
@media only screen and (min-width: 992px) and (max-width: 1600px) {
    html {
        font-size: 220%;
    }

    h1 {
        margin: 1rem var(--padding_tablet);
    }

    .wrapper {
        padding: 1rem var(--padding_tablet);
    }

    /* #region: ---- MENU ---- */
    .icon {
        display: flex;
        align-items: center;
    }

    #navItems {
        display: none;
    }
    
    nav {
        display: none;
        flex-direction: column;
        margin-top: 1rem;
    }

    nav a {
        width: 100%;
        padding: 0.5rem 0;
        text-align: center;
    }

    nav a.active {
        background-color: var(--orange);
        color: white;
    }

    header {
        flex-direction: column;
        height: fit-content;
    }

    .menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    /* #endregion: ---- MENU ---- */

    /* #region: ---- SLIDER ---- */
    .slideshow-container {
        max-width: 100%;
    }

    .desktop_button {
        display: none;
    }

    .mobile_button {
        display: block;
    }

    .slider_dots .mobile_button {
        cursor: pointer;
        background-color: var(--grey);
        padding: 1rem 2rem;
        font-size: 2rem;
    }
    /* #endregion: ---- SLIDER ---- */

    /* #region: ---- HIGHLIGHT SECTION ---- */
    .highlight {
        padding: 1rem var(--padding_tablet);
    }
    /* #endregion: ---- HIGHLIGHT SECTION ---- */
    
    /* #region: ---- NEWS ---- */
    .news {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem var(--padding_tablet);
        background-color: var(--grey);
        margin: 1rem 0;
    }
    .newsItem img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .newsItem .imageAlt {
        width: 10rem;
        height: 10rem;
        font-size: 5rem;
        color: var(--grey);
    }
    /* #endregion: ---- NEWS ---- */

    /* #region: ---- PROJECTS ---- */
    .projects {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .project img {
        height: 18rem;
    }
    /* #endregion: ---- PROJECTS ---- */

    /* #region: ---- JOBS ---- */
    .jobsContainer {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .job .details {
        display: flex;
        gap: 0.2rem;
    }

    .job .details span {
        font-size: 130%;
    }
    /* #endregion: ---- JOBS ---- */
    
    /* #region: ---- FOOTER ---- */
    footer {
        padding: 1rem var(--padding_tablet);
    }

    .footer-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-logo {
        grid-row: 1 / 3;
        width: 100%;
    }

    .contactItem span {
        padding-top: 0.1rem;
        font-size: 1.5rem;
    }
    /* #endregion: ---- FOOTER ---- */

    /* #region: ---- 404 ---- */
    .container_404 {
        width: 80%;
    }

    .subtitle_404 {
        text-align: center;
        line-height: 150%;
        margin-bottom: 1rem;
    }
    /* #endregion: ---- 404 ---- */

    .team {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* MEDIA QUERY: Phones and other small screens */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 250%;
    }

    h1 {
        margin: 1rem var(--padding_mobile);
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 120%;
    }

    .logo {
        height: 4rem;
    }

    .wrapper {
        padding: 1rem var(--padding_mobile);
    }

    .highlight {
        padding: 1rem var(--padding_mobile);
    }

    .small {
        font-size: 1rem;
    }

    /* #region: ---- MENU ---- */
    .icon {
        display: flex;
        align-items: center;
    }

    #navItems {
        display: none;
    }
    
    nav {
        display: none;
        flex-direction: column;
        margin-top: 1rem;
    }

    nav a {
        width: 100%;
        padding: 0.5rem 0;
        text-align: center;
    }

    nav a.active {
        background-color: var(--orange);
        color: white;
    }

    header {
        flex-direction: column;
        height: fit-content;
    }

    .menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    /* #endregion: ---- MENU ---- */

    /* #region: ---- SLIDER ---- */
    .slideshow-container {
        max-width: 100%;
    }
    .slides {
        height: auto;
    }
    .slides img {
        width: 100%;
        height: auto;
    }
    .desktop_button {
        display: none;
    }

    .mobile_button {
        display: block;
        font-size: 2rem;
    }

    .slider_dots {
        line-height: normal;
    }

    .slider_dots .dots-container {
        gap: 0.2rem;
    }
    /* #endregion: ---- SLIDER ---- */

    /* #region: ---- NEWS ---- */
    .news {
        padding: 1rem var(--padding_mobile);
    }

    .newsItem {
        flex-direction: column;
        align-items: center;
    }
    .newsItem img {
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        border-radius: 0.5rem;
    }
    /* #endregion: ---- NEWS ---- */

    /* #region: ---- PROJECTS ---- */
    .projects {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .project img {
        height: 20rem;
    }

    .project a {
        font-size: 120%;
    }
    /* #endregion: ---- PROJECTS ---- */

    /* #region: ---- JOBS ---- */
    .jobsContainer {
        grid-template-columns: 1fr;
        width: 100%;
    }
    
    .job {
        grid-template-areas:    "title title"
                                "duration pay"
                                "location location"
                                "description description"
                                "skills skills"
                                "link link";
        width: 100%;
        box-sizing: border-box;
    }

    .job h3 {
        font-size: 1.5rem;
        overflow-wrap: break-word;
        word-wrap: break-word; /* Fallback */
        word-break: break-word; /* Non-standard */
    }

    .job .details {
        gap: 0.2rem;
    }

    
    .job .skills p {
        font-size: 1.2rem;
    }

    .job .details span {
        font-size: 130%;
    }
    /* #endregion: ---- JOBS ---- */

    /* #region: ---- FOOTER ---- */
    footer {
        padding: 1rem var(--padding_mobile);
    }

    footer p {
        font-size: unset;
    }

    footer h5 {
        font-size: 120%;
        line-height: normal;
    }

    .footer-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        width: 100%;
        font-size: 130%;
    }

    .footer-content .column {
        gap: 2rem;
    }

    .contactItem span {
        padding-top: 0.1rem;
        font-size: 1.5rem;
    }
    /* #endregion: ---- FOOTER ---- */

    /* #region: ---- 404 ---- */
    .container_404 {
        width: 100%;
    }

    .subtitle_404 {
        text-align: center;
        line-height: 150%;
        margin-bottom: 1rem;
    }

    .buttons_404 {
        flex-direction: column;
        align-items: center;
        gap: 1rem
    }

    .buttons_404 a {
        width: fit-content;
        margin: 0.5rem 0;
    }
    /* #endregion: ---- 404 ---- */

    .team {
        grid-template-columns: repeat(1, 1fr);
    }
}
